Django==1.6.5
South==0.8.4
-e git+https://github.com/joestump/django-ajax@b0d6c4daa93ba9048c340eba0a05fe1144ef68c6#egg=ajax-master
argparse==1.2.1
decorator==3.4.0
django-extensions==1.3.7
django-json-field==0.5.5
django-jsonfield==0.9.12
psycopg2==2.5.3
python-dateutil==2.2
six==1.6.1
wsgiref==0.1.2
